# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
### Unnecessary documentation files  
ADMIN_REMOVED_FROM_SIGNUP.md  
AUTHENTICATION_GUIDE.md  
clear-session.html  
CLEAR_SESSION_NOW.md  
FIX_DASHBOARD_ISSUE.md  
FRONTEND_IMPROVEMENTS.md  
FRONTEND_README.md  
IMPLEMENTATION_COMPLETE.md  
PARENT_SIGNUP_DEBUG.md  
PARENT_SIGNUP_FIXED.md  
QUICK_START_FRONTEND.md  
UI_IMPROVEMENTS_COMPLETED.md 
